<!DOCTYPE html>
<html>
  <head>
    <title> Databases</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Databases</h1>
    <select id="selectDbs">
   <% databases.forEach((database)=>{ -%>
    <option><%=database.name %></option>
    <% }) -%>
  </select>
   


  </body>
</html>
